*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #575757;
    height: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.logo{
    height: 100px;
    padding: 20px 50px;
    position: absolute;


}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0   ;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    display: block;
    font-family: 'Open Sans', sans-serif;
}
li a.active, li a:hover{
    background: #F87F3B;
    transition: .25s;
}

.cuerpo{
	padding: 20px;
    width: 90%;
    background-color: #FB4F21;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

video{
    width: 500px;
    height: 300px;
}

.video1a{
    width: 40%;
    display: inline-block;
}

.video2a{
    margin-left: 150px;
    width: 40%;
   display: inline-block;



}

.cuerpo p{
    width: 113%;
    color: white;
    font-size: 20px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}


.cuerpo h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;

}


footer img{
	width: 40px;
}

footer{
    margin-top: 30px;
	background-color: #4A4747;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}


@media only screen and (max-width: 900px) {

    .logo{
        height: 80px;
        padding: 20px 50px;
        position: absolute;
    
    
    }
   
    nav ul li a{
        color: #fff;
        font-size: 15px;
        padding: 10px;
        text-transform: uppercase;
        display: block;
        font-family: 'Open Sans', sans-serif;
    }
  }

  @media only screen and (max-width: 789px) {

    .logo{
        height: 70px;
        padding: 20px 50px;
        position: absolute;
    
    
    }
   
    nav ul li a{
        color: #fff;
        font-size: 12px;
        padding: 10px;
        text-transform: uppercase;
        display: block;
        font-family: 'Open Sans', sans-serif;
    }
  }


  
  @media only screen and (max-width: 600px) {

    .logo{
        height: 50px;
        padding: 20px 50px;
        position: absolute;
    
    
    }
   
    nav ul li a{
        color: #fff;
        font-size: 9px;
        padding: 10px;
        text-transform: uppercase;
        display: block;
        font-family: 'Open Sans', sans-serif;
    }
  }